<div class="card">
  <div class="card-header">
    <h2 class="card-title">{{ header }}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{ body }}</p>
    <button type="button" [class]="btnBodyClass" placement="top" [ngbTooltip]="btnBodyLength">
      Filmes
    </button>
    <button type="button" [class]="btnBodyClass" placement="top" [ngbTooltip]="btnBodyLength">
      Stars
    </button>
    <button type="button" [class]="btnBodyClass" placement="top" [ngbTooltip]="btnBodyLength">
      Veiculos
    </button>
    <button type="button" [class]="btnBodyClass" placement="top" [ngbTooltip]="btnBodyLength">
      Especies
    </button>
  </div>
</div>
