@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
.container{
    font-family: 'ABeeZee', sans-serif;
}
.card:hover{
    border: 1px solid gray;
    transition-delay: 0.1s;
}